<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  </style>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
<h1 class="mt-4">Carousel</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br>
<br> 
<% if(user.superUser == -1){ %>
  <h1 class="mt-4">Add a carousel</h1>
  <br>
  <br>

  <%- include ("./partials/messages"); %>

  <form action="/user/carousel/create" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Title</label>
        <input
          type="title"
          id="Title"
          name="title"
          class="form-control"
          placeholder="Carousel title"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>
      <div class="form-group">
          <label for="name">Description</label>
          <input
            type="description"
            id="description"
            name="description"
            class="form-control"
            placeholder="Description"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
      </div>
      <br>
      <div class="form-group">
          <input type="file" id="file" name="file">
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block">
        Create
      </button>
  </form>
<% } %>
<br>
<br>


<% if (data !== null){ %>
  <h1>Carousels</h1>
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <% for(var i=0; i < data.length ; i++){ %>
      <div class="mySlides fade">
        <h3><%= data[i].dataValues.description %> </h3>
        <div class="numbertext"><%= i + 1 %> / <%= data.length%></div>
          <img src=<%= data[i].dataValues.folder %> style="width:100%">
        <div class="text"><%= data[i].dataValues.title %></div>
      </div>
    <% } %>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <% for(var i=0; i < data.length ; i++){ %>
      <span class="dot" onclick="currentSlide(<%= i+1 %>)"></span>
    <% } %>
  </div>
<% } %>
<br>
<a href="/user/logout" class="btn btn-secondary">Logout</a>
